# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.1.3  # Use the revision sha / tag you want to point at
    hooks:
      - id: isort
  # hookスクリプトが存在するリポジトリのリストを指定します。 GitHubで公開されているリポジトリを指定することで車輪の再発明が不要になります。
  - repo: https://github.com/pre-commit/pre-commit-hooks
    # reposで指定されたリポジトリのリビジョンもしくはタグを指定します。 reposで指定したリポジトリから、このセクションで指定されたバージョンのソースコードを取得してhookスクリプトとして利用します。
    rev: v2.4.0
    # 実際に実行するhookスクリプトをリストで指定します。
    hooks:
      # 各hookスクリプトのIDを指定します。 リポジトリ内に存在するhookスクリプトのファイル名と一致(.pyは不要)するよう設定します。
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: flake8
  - repo: https://github.com/ambv/black
    rev:  stable
    hooks:
      - id: black
        language_version: python3.8

  - repo: git@github.com:humitos/mirrors-autoflake.git
    rev: v1.1
    hooks:
      - id: autoflake
        args: [ '--in-place', '--remove-all-unused-imports', '--remove-unused-variable' ]
